@model FooterModel
<footer class="footer">
    <div class="footer-main">
        <div class="page-width clearfix">
            <div class="module-default">
                <div class="module-inner">
                    <div class="module-content">
                        <div class="qhd-module">
                            <div class="column">
                                <div class="col-5-1">
                                    <div class="qhd_column_contain">
                                        <div class="module-default">
                                            <div class="module-inner">
                                                <div class="module-title module-title-default clearfix">
                                                    <div class="module-title-content clearfix">
                                                        <h3 style="" class="">关于</h3>
                                                    </div>
                                                </div><div class="module-content">
                                                    <div class="link link-block">
                                                        <ul>
                                                            <li><a href="@Url.RouteUrl("Topic", new { SystemName = "companyinfo" })" target=""><span>公司简介</span></a></li>
                                                            <li><a href="@Url.RouteUrl("Topic", new { SystemName = "companyinfo" })" target=""><span>企业文化</span></a></li>
                                                            <li><a href="@Url.RouteUrl("Topic", new { SystemName = "companyinfo" })" target=""><span>荣誉证书</span></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="col-5-1">
                                    <div class="qhd_column_contain">
                                        <div class="module-default">
                                            <div class="module-inner">
                                                <div class="module-title module-title-default clearfix">
                                                    <div class="module-title-content clearfix">
                                                        <h3 style="" class="">产品</h3>
                                                    </div>
                                                </div>
                                                <div class="module-content">
                                                    <div class="link link-block">
                                                        <ul>
                                                            <li><a href="@Url.RouteUrl("Topic", new { SystemName = "companyinfo" })" target=""><span>理石•石英砖</span></a></li>
                                                            <li><a href="@Url.RouteUrl("Topic", new { SystemName = "companyinfo" })" target=""><span>原石•石英砖</span></a></li>
                                                            <li><a href="@Url.RouteUrl("Topic", new { SystemName = "companyinfo" })" target=""><span>水泥•石英砖</span></a></li>
                                                            <li><a href="@Url.RouteUrl("Topic", new { SystemName = "companyinfo" })" target=""><span>木纹•石英砖</span></a></li>
                                                            <li><a href="@Url.RouteUrl("Topic", new { SystemName = "companyinfo" })" target=""><span>2CM•石英砖</span></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-5-1">
                                    <div class="qhd_column_contain">
                                        <div class="module-default">
                                            <div class="module-inner">
                                                <div class="module-title module-title-default clearfix">
                                                    <div class="module-title-content clearfix">
                                                        <h3 style="" class="">其他</h3>
                                                    </div>
                                                </div>
                                                <div class="module-content">
                                                    <div class="link link-block">
                                                        <ul>
                                                            <li><a href="@Url.RouteUrl("Topic", new { SystemName = "companyinfo" })" target=""><span>工程案例</span></a></li>
                                                            <li><a href="@Url.RouteUrl("Topic", new { SystemName = "companyinfo" })" target=""><span>公司动态</span></a></li>
                                                            <li><a href="@Url.RouteUrl("Topic", new { SystemName = "companyinfo" })" target=""><span>行业新闻</span></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-5-1">
                                    <div class="qhd_column_contain">
                                        <div class="module-default">
                                            <div class="module-inner">
                                                <div class="module-title module-title-default clearfix">
                                                    <div class="module-title-content clearfix">
                                                        <h3 style="" class="">加盟</h3>
                                                    </div>
                                                </div>
                                                <div class="module-content">
                                                    <div class="link link-block">
                                                        <ul>
                                                            <li><a href="@Url.RouteUrl("Topic", new { SystemName = "companyinfo" })" target=""><span>加盟优势</span></a></li>
                                                            <li><a href="@Url.RouteUrl("Topic", new { SystemName = "companyinfo" })" target=""><span>加盟支持</span></a></li>
                                                            <li><a href="@Url.RouteUrl("Topic", new { SystemName = "companyinfo" })" target=""><span>加盟条件</span></a></li>
                                                            <li><a href="@Url.RouteUrl("Topic", new { SystemName = "companyinfo" })" target=""><span>加盟流程</span></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-5-1 last">
                                    <div class="qhd_column_contain">
                                        <div class="module-default">
                                            <div class="module-inner">
                                                <div class="module-content">
                                                    <div class="qhd-content">
                                                        <p style="text-align: center;">
                                                            <img alt="" src="/portals/9514/staticfile/default/522ee1c4-39f6-45a4-ab8d-0d2ea1648546.png" style="width: 120px; height: 120px;"><br>
                                                            关注官方微信
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<section class="bottom">
    <div class="page-width clearfix">
        <div class="module-default">
            <div class="module-inner">
                <div class="module-content">
                    <div class="qhd-module">
                        <div class="column">
                            <div class="col-5-3">
                                <div class="qhd_column_contain">
                                    <div class="module-default module-no-margin">
                                        <div class="module-inner">
                                            <div class="module-content">
                                                <div class="qhd-content">
                                                    <p>
                                                        @Html.Raw(Model.CafSiteHint) @T("Content.CopyrightNotice", DateTime.Now.Year.ToString(), @Model.SiteName)
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="col-5-2 last">
                                <div class="qhd_column_contain">
                                    <div class="module-default module-no-margin">
                                        <div class="module-inner">
                                            <div class="module-content">
                                                <div class="qhd-content">
                                                    <p style="text-align: right;">

                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
