@model QueuedEmailModel
@{
    //page title
    ViewBag.Title = T("Admin.System.QueuedEmails.EditQueuedEmailDetails").Text;
}
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="section-header sticky">
                    <div class="caption">
                        <i class="icon-equalizer font-red-sunglo"></i>
                        <span class="caption-subject font-red-sunglo bold uppercase"> @T("Admin.System.QueuedEmails.EditQueuedEmailDetails") </span>
                        <span class="caption-helper">@Html.ActionLink("(" + T("Admin.System.QueuedEmails.BackToList") + ")", "List")</span>
                    </div>
                    <div class="actions">
                        <button type="submit" name="save" value="save" class="btn btn-primary"><i class="fa fa-check"></i>@T("Admin.Common.Save")</button>
                        <button type="submit" name="save" value="save-continue" class="btn btn-default">@T("Admin.Common.SaveContinue")</button>
                        <button type="submit" name="requeue" value="requeue" class="btn btn-default"><i class="fa fa-repeat"></i>&nbsp;@T("Admin.System.QueuedEmails.Requeue")</button>
                        <a class="btn btn-danger" data-toggle="modal" href="#queuedemailmodel-delete-confirmation">
                            <i class="fa fa-trash-o"></i>&nbsp;@T("Admin.Common.Delete")
                        </a>
                    </div>
                </div>
                <div class="portlet-body form form-horizontal form-bordered form-row-stripped">
                    @Html.Partial("_CreateOrUpdate", Model)
                </div>
            </div>
        </div>
    </div>
  
}
@Html.DeleteConfirmation("queuedemailitem-delete")
