@model IEnumerable<WidgetModel>
@{
    ViewBag.Title = T("Admin.ContentManagement.Widgets").Text;
}
<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="section-header sticky">
                <div class="caption">
                    <i class="fa fa-plus-square"></i>
                    <span class="caption-subject font-red-sunglo bold uppercase"> @T("Admin.ContentManagement.Widgets")</span>

                </div>
            </div>
            <div class="portlet-body flip-scroll">
                @Html.ProviderList(Model,
                @<div>
                    <a class='btn @(item.IsActive ? "btn-default" : " btn-success")' href='@Url.Action("ActivateProvider", new { systemName = item.SystemName, activate = !item.IsActive })'>
                        @T("Admin.Common.{0}".FormatInvariant(item.IsActive ? "Deactivate" : "Activate"))
                    </a>
                </div>)
            </div>
        </div>
    </div>
</div>

