@model ArticleCategoryModel
@using CAF.Infrastructure.Core.Collections
@{
    var node = Model.CategoryBreadcrumb.LastOrDefault();
    var url = node.GenerateUrl(this.Url);
}
@if (Model.Articles.Count > 0)
{
    <ol class="list-none metlist">
        @for (int i = 0; i < Model.Articles.Count; i++)
        {
            var article = Model.Articles[i];

            <li class='fl' style='width:116px; margin-left:10px; margin-right:10px;'>
                <a href='@Url.RouteUrl("Article", new { SeName = article.SeName })' title='@article.Title' target='_self' class='img'>
                    <img src='@article.DefaultPictureModel.ImageUrl' alt='@article.DefaultPictureModel.AlternateText' title='@article.DefaultPictureModel.AlternateText' width='116' height='80' />
                </a>
            </li>
        }
    </ol>
}

