@using CAF.WebSite.Application.WebUI.UI;
@using CAF.Infrastructure.Core;
@using CAF.WebSite.Application.WebUI;
@{
    var currentUser = this.WorkContext.CurrentUser;
    // page title
    string adminPageTitle = "";
    if (!string.IsNullOrWhiteSpace(ViewBag.Title))
    {
        adminPageTitle = ViewBag.Title + " / ";
    }
    adminPageTitle += T("Admin.PageTitle").Text;

    Layout = "";
    var MediaRootPath = "~/Content/assets/";
    Html.AppendCssFileParts(
            MediaRootPath + "global/plugins/font-awesome/css/font-awesome.min.css",
            MediaRootPath + "ace/css/bootstrap.css",
            MediaRootPath + "ace/css/jquery.gritter.css",
            MediaRootPath + "ace/css/ace.min.css",
            MediaRootPath + "ace/css/site.css");

    Html.AppendScriptParts(ResourceLocation.Head,
          MediaRootPath + "global/plugins/jquery.min.js",
          MediaRootPath + "ace/js/bootstrap.js",
          MediaRootPath + "ace/js/ace-extra.js",
          MediaRootPath + "ace/js/ace.js",
          MediaRootPath + "ace/js/ace-elements.js",
          MediaRootPath + "ace/js/jquery.popupoverlay.js",
          MediaRootPath + "ace/js/bootstrap-tabdrop.js");

}

<!DOCTYPE html>
<html class="no-js not-ready loading">
<head>
    <title>@adminPageTitle</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge; chrome=1" />
    <script>
        window.Res = {
            "Common.Notification": "@T("Common.Notification").ToString().EncodeJsString()",
        }
    </script>

    @Html.Partial("ConditionalComments")
    @Html.MetaAcceptLanguage()
    @Html.WorkCssFiles(this.Url, ResourceLocation.Head)
    @Html.WorkScripts(this.Url, ResourceLocation.Head)

    <link rel="shortcut icon" href="~/Administration/favicon.ico" />
    

</head>
<body class="no-skin">
    <div id="navbar" class="navbar navbar-default navbar-fixed-top">
        <script type="text/javascript">
            try { ace.settings.check('navbar', 'fixed') } catch (e) {
            }
            var OldWindowNeedResize = true;

        </script>
        <div class="navbar-container" id="navbar-container">

            <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
                <span class="sr-only">Toggle sidebar</span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>
            </button>

            @Html.Action("Navbar", "Common", new { area = "Admin" })


        </div>
    </div>

    <div class="main-container" id="main-container">
        @RenderBody()
    </div>
 
    @Html.WorkCssFiles(this.Url, ResourceLocation.Foot)
    @Html.WorkScripts(this.Url, ResourceLocation.Foot)


</body>

</html>