
        <h3 class='title myCorner'>关于我们</h3>
        <div class="sb_active" id="sidebar" data-csnow="5" data-class3="0" data-jsok="2">
            <dl class="list-none navnow">
                <dt id='part2_5'>
                    <a href='@Url.RouteUrl("Topic", new { SystemName = "Information" })' title='公司简介' class="zm"><span>公司简介</span></a>
                </dt>
            </dl>
            <dl class="list-none navnow">
                <dt id='part2_6'>
                    <a href='@Url.RouteUrl("Topic", new { SystemName = "Information" })' title='公司文化' class="zm"><span>公司文化</span></a>
                </dt>
            </dl>
            <dl class="list-none navnow">
                <dt id='part2_7'>
                    <a href='@Url.RouteUrl("Topic", new { SystemName = "Information" })' title='在线留言' class="zm"><span>在线留言</span></a>
                </dt>
            </dl>
            <dl class="list-none navnow">
                <dt id='part2_9'>
                    <a href='@Url.RouteUrl("ContactUs")' title='联系我们' class="zm"><span>联系我们</span></a>
                </dt>
            </dl>
            <dl class="list-none navnow">
                <dt id='part2_9'>
                    <a href='@Url.RouteUrl("Feedback")' title='站内留言' class="zm"><span>站内留言</span></a>
                </dt>
            </dl>
            <div class="clear"></div>
        </div>

      
 
