@model  LinkModel
@{

    var gridPageSize = EngineContext.Current.Resolve<CAF.Infrastructure.Core.Domain.Common.AdminAreaSettings>().GridPageSize;
    //page title
    ViewBag.Title = T("Admin.ContentManagement.Links").Text;
    var g = Html.GridToolKit();
    var grid = g.DataGrid("otable", g.Param(x => x.Id)).TableId("table-id").GridKey("Id").Pager(true) 
    .MainGrid(
    g.GridColumn(x => x.Name, 300).DefaultContent("<a href=\"Edit/#Id#\">#Name#</a>"),
    g.GridColumn(x => x.LinkUrl, 300),
    g.GridColumn(x => x.PictureUrl, 300).DefaultContent("<a href='#PictureUrl#' target='_blank'><img alt='#PictureUrl#' src='#PictureUrl#' class='img-polaroid' style='max-height: 100px' /></a>"),
    g.GridColumn(x => x.SortId, 300),
    g.GridColumn(x => x.IsHome, 300),
   g.GridColumn("operation", "" + T("Admin.Common.Operation").Text + "", 150).DefaultContent("<a href=\"Edit/#Id#\"  class='btn default btn-xs purple'><i class='fa fa-pencil'></i></a>"))
    .Url(Url.Action("List", "Link")).DefaultTableClass();
}
<script type="text/javascript">
    $(document).ready(function () {
        @(grid)
    });
</script>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="section-header sticky">
                <div class="caption">
                    <i class="icon-equalizer font-red-sunglo"></i>
                    <span class="caption-subject font-red-sunglo bold uppercase">  @T("Admin.ContentManagement.Links")</span>
                    <span class="caption-helper"></span>
                </div>
                <div class="tools">

                </div>
                <div class="actions">
                    <a href="@Url.Action("Create")" class="btn yellow"><i class="fa fa-plus"></i>@T("Admin.Common.AddNew") </a>

                </div>
            </div>
            <div class="portlet-body flip-scroll">
                <table id="@grid.GetTableId" class="@grid.GetDefaultTableClass" @Html.Raw(grid.GetFixedLayout ? "style='table-layout:fixed'" : "")>
                    <thead>
                        <tr>
                            @foreach (var column in grid.GetColumns)
                            {
                                if (column.Name == "操作")
                                {

                                    <th class="@column.CssClassHeader">@column.DisplayName</th>

                                }
                                else
                                {
                                    <th class="@column.CssClassHeader">@column.DisplayName</th>
                                }

                            }
                        </tr>

                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
 