@model ContentSliderSlideModel
@{
    //page title
    ViewBag.Title = T("Admin.Configuration.ContentSlider.EditSlide").Text;
}
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="section-header sticky">
                    <div class="caption">
                        <i class="icon-equalizer font-red-sunglo"></i>
                        <span class="caption-subject font-red-sunglo bold uppercase">@T("Admin.Configuration.ContentSlider.EditSlide") </span>
                        <span class="caption-helper">@Model.Title @Html.ActionLink("(" + @T("Admin.Configuration.ContentSlider.BackToList") + ")", "Index")</span>
                    </div>
                    <div class="actions">
                        <button type="submit" name="save" value="save" class="btn btn-primary"><i class="fa fa-check"></i>@T("Admin.Common.Save")</button>
                        <button type="submit" name="save" value="save-continue" class="btn btn-default">@T("Admin.Common.SaveContinue")</button>
                        <a class="btn btn-danger" data-toggle="modal" href="#contentsliderslidemodel-delete-confirmation">
                            <i class="fa fa-trash-o"></i>&nbsp;@T("Admin.Common.Delete")
                        </a>
                    </div>
                </div>
                <div class="portlet-body form form-horizontal form-bordered form-row-stripped">
                    @Html.Partial("_CreateOrUpdate", Model)
                </div>
            </div>
        </div>
    </div>
   
}
@Html.DeleteConfirmation("DeleteSlide", "contentsliderslideitem-delete")

